Idea: each stress testing should ouptut a score that, in the end, will be used to calculate the final score. If the strategy passes (>80% for example), then it will output a boolean which means that it will be used in the portfolio management module

In [4]:
import yfinance as yf
import numpy as np
df = yf.download('TSLA')
df

[*********************100%***********************]  1 of 1 completed

Price,Adj Close,Close,High,Low,Open,Volume
Ticker,TSLA,TSLA,TSLA,TSLA,TSLA,TSLA
Date,,,,,,
2010-06-29 00:00:00+00:00,1.592667,1.592667,1.666667,1.169333,1.266667,281494500
2010-06-30 00:00:00+00:00,1.588667,1.588667,2.028000,1.553333,1.719333,257806500
2010-07-01 00:00:00+00:00,1.464000,1.464000,1.728000,1.351333,1.666667,123282000
2010-07-02 00:00:00+00:00,1.280000,1.280000,1.540000,1.247333,1.533333,77097000
2010-07-06 00:00:00+00:00,1.074000,1.074000,1.333333,1.055333,1.333333,103003500
...,...,...,...,...,...,...
2025-01-02 00:00:00+00:00,379.279999,379.279999,392.730011,373.040009,390.100006,109710700
2025-01-03 00:00:00+00:00,410.440002,410.440002,411.880005,379.450012,381.480011,95423300
2025-01-06 00:00:00+00:00,411.049988,411.049988,426.429993,401.700012,423.200012,85516500
2025-01-07 00:00:00+00:00,394.359985,394.359985,414.329987,390.000000,405.829987,75473200
2025-01-08 00:00:00+00:00,394.346008,394.346008,402.499908,387.429291,393.049988,51974375

In [5]:
returns = np.log(1 + df['Adj Close'].pct_change())
returns

Ticker                         TSLA
Date
2010-06-29 00:00:00+00:00       NaN
2010-06-30 00:00:00+00:00 -0.002515
2010-07-01 00:00:00+00:00 -0.081723
2010-07-02 00:00:00+00:00 -0.134312
2010-07-06 00:00:00+00:00 -0.175470
...                             ...
2025-01-02 00:00:00+00:00 -0.062744
2025-01-03 00:00:00+00:00  0.078955
2025-01-06 00:00:00+00:00  0.001485
2025-01-07 00:00:00+00:00 -0.041451
2025-01-08 00:00:00+00:00 -0.000035

[3657 rows x 1 columns]